* {
  scroll-behavior: smooth;
}

.container {
  display: flex;
}

.nav-section {
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container-section {
  width: 90%;
  margin-left: auto;
}
.section {
  height: 100dvh;
}
