.container {
  width: 100%;
  margin: auto;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

header {
  background-color: cadetblue;
  padding: 1rem;
}

nav {
  background-color: burlywood;
  position: sticky;
  top: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: gold;
  padding: 0;
  margin: 0;
}

li {
  width: calc(100% / 3);
}

li a {
  background-color: darkblue;
  color: floralwhite;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  /* align-items: center; */
}

li a:hover {
  background-color: #0000ed;
}

main {
  background-color: #9c9cac;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

section {
  /* background-color: gold; */
  width: 100%;
  /* padding: 0 1rem 0 0; */
  display: flex;
  flex-wrap: wrap;
}

section h2 {
  width: 100%;
  padding-left: 1rem;
}

figure {
  /* width: 100%; */
  float: left;
  border: 1px black solid;
  border-radius: 8px;
  margin: 0 1rem 1rem 0;
}

img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  /*top left - top right - bottom right - bottom left*/
}

figcaption {
  padding: 1rem;
}

article {
  width: 100%;
  /* width: calc(100% / 3); */
  padding: 1rem;
  box-sizing: border-box;

  /* background-color: indianred; */
}

aside {
  background-color: gainsboro;
  width: 100%;
}

footer {
  background-color: teal;
  padding: 1rem;
  text-align: center;
}

form {
  background-color: floralwhite;
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

input {
  display: block;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .container {
    width: 80%;
  }

  article {
    width: 50%;
  }

  li {
    width: 10rem;
  }

  section {
    width: 80%;
  }

  figure {
    float: left;
  }
  aside {
    width: 20%;
  }

  form {
    width: 40%;
  }
}
